<mat-toolbar>Notificações</mat-toolbar>
<mat-list>
    <mat-list-item *ngFor="let event of events">
        <h3 matLine>{{event.title}}</h3>
        <p matLine class="secondary-text">{{event.detail}}</p>
        <button mat-icon-button>
           <mat-icon>done</mat-icon>
        </button>
    </mat-list-item>
</mat-list>