@import '~@angular/material/theming';
$black-54-opacity: rgba(0, 0, 0, 0.54);
$mat-white: ( 500: white, contrast: ( 500: $black-87-opacity));
$mat-black: ( 500: black, contrast: ( 500: white, ));
$mat-webinardark: ( 50: #ECECEE, 100: #C5C6CB, 200: #9EA1A9, 300: #7D818C, 400: #5C616F, 500: #3C4252, 600: #353A48, 700: #2D323E, 800: #262933, 900: #1E2129, A100: #C5C6CB, A200: #9EA1A9, A400: #5C616F, A700: #2D323E, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: white, 400: white, 500: $white-87-opacity, 600: $white-87-opacity, 700: $white-87-opacity, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: $white-87-opacity, A400: $white-87-opacity, A700: $white-87-opacity, ));
$mat-webinardefault: ( 0: #ffffff, 50: #fafafa, 100: #f5f5f5, 200: #eeeeee, 300: #e0e0e0, 400: #bdbdbd, 500: #9e9e9e, 600: #757575, 700: #616161, 800: #424242, 900: #212121, 1000: #000000, A100: #ffffff, A200: #eeeeee, A400: #bdbdbd, A700: #616161, contrast: ( 50: $black-54-opacity, 100: $black-54-opacity, 200: $black-54-opacity, 300: $black-54-opacity, 400: $black-54-opacity, 500: $black-54-opacity, 600: $white-87-opacity, 700: $white-87-opacity, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: $black-87-opacity, A400: $black-87-opacity, A700: $white-87-opacity, ));
// Palettes
$primary: mat-palette($mat-webinardefault);
$accent: mat-palette($mat-purple, 600, 400, 700);
$warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
.default-theme {
    // Palettes
    $primary: mat-palette($mat-webinardark);
    $primary: mat-palette($mat-webinardefault);
    $accent: mat-palette($mat-purple, 600, 400, 700);
    $warn: mat-palette($mat-red);
    // Create the theme object (a Sass map containing all of the palettes).
    $theme: mat-light-theme($primary, $accent, $warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
}

.dark-theme {
    // Palettes
    $primary: mat-palette($mat-webinardark);
    $accent: mat-palette($mat-purple, 600, 400, 700);
    $warn: mat-palette($mat-red);
    // Create the theme object (a Sass map containing all of the palettes).
    $theme: mat-dark-theme($primary, $accent, $warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
}