<a class="nav-link" matRipple>
    <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{item.title}}</span>
    <span class="nav-link-badge" *ngIf="item.badge" [translate]="item.badge.translate" [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
        {{item.badge.title}}
    </span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
</a>

<div class="children" [ngClass]="{'open': isOpen}">

    <div class="{{webinarSettings.colorClasses.navbar}}">

        <ng-container *ngFor="let item of item.children">
            <webinar-nav-horizontal-item *ngIf="item.type=='item'" [item]="item"></webinar-nav-horizontal-item>
            <webinar-nav-horizontal-collapse *ngIf="item.type=='collapse'" [item]="item"></webinar-nav-horizontal-collapse>
            <webinar-nav-horizontal-collapse *ngIf="item.type=='group'" [item]="item"></webinar-nav-horizontal-collapse>
        </ng-container>

    </div>

</div>