<mat-sidenav-container>

    <div id="webinar-main-content" [ngClass]="webinarSettings.currentTheme">

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="webinarSettings.layout.toolbar === 'above'">
            <webinar-toolbar class="above" [ngClass]="webinarSettings.colorClasses.toolbar"></webinar-toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <!-- NAVBAR: Top -->
        <webinar-navbar layout="horizontal" class="top-navbar" fxHide fxShow.gt-md [ngClass]="webinarSettings.colorClasses.navbar" *ngIf="webinarSettings.layout.navigation === 'top'">
        </webinar-navbar>
        <!-- / NAVBAR: Top -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <webinar-sidebar [name]="'navbar'" [folded]="webinarSettings.layout.navigationFolded" class="left-navbar" [ngClass]="webinarSettings.colorClasses.navbar" *ngIf="webinarSettings.layout.navigation === 'left' || webinarSettings.layout.navigation === 'top'"
                fxShow fxHide.gt-md>
                <webinar-navbar layout="vertical"></webinar-navbar>
            </webinar-sidebar>
            <!-- / NAVBAR: Left -->

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="webinarSettings.layout.toolbar === 'below'">
                    <webinar-toolbar class="below" [ngClass]="webinarSettings.colorClasses.toolbar"></webinar-toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <webinar-content [ngClass]="webinarSettings.colorClasses.body"></webinar-content>

                <!-- FOOTER: Below -->
                <ng-container *ngIf="webinarSettings.layout.footer === 'below'">
                    <webinar-footer class="below" [ngClass]="webinarSettings.colorClasses.footer"></webinar-footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <webinar-sidebar [name]="'navbar'" [align]="'right'" [folded]="webinarSettings.layout.navigationFolded" [lockedOpen]="'gt-md'" class="right-navbar" [ngClass]="webinarSettings.colorClasses.navbar" *ngIf="webinarSettings.layout.navigation === 'right'">
                <webinar-navbar layout="vertical"></webinar-navbar>
            </webinar-sidebar>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="webinarSettings.layout.footer === 'above'">
            <webinar-footer class="above" [ngClass]="webinarSettings.colorClasses.footer"></webinar-footer>
        </ng-container>
        <!-- FOOTER: Above -->

    </div>

    <!-- NOTIFICATIONS -->
    <mat-sidenav webinarMatSidenavHelper="notifications" align="end">
        <webinar-notifications></webinar-notifications>
    </mat-sidenav>
    <!-- / NOTIFICATIONS -->

</mat-sidenav-container>