@import "src/@prohosp/scss/webinar";
webinar-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    >.mat-sidenav-container {
        display: flex;
        flex: 1;
        >.mat-sidenav-content,
        >.mat-drawer-content {
            display: flex;
            flex: 1;
            overflow: hidden;
            height: 100vh;
            @include media-breakpoint-down('sm') {
                height: auto !important;
            }
            #webinar-main-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: hidden;
                #wrapper {
                    display: flex;
                    position: relative;
                    flex: 1;
                    overflow: hidden;
                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        overflow: hidden;
                        webinar-content {
                            position: relative;
                            display: flex;
                            flex: 1;
                            flex-direction: row;
                            width: 100%;
                            overflow: hidden;
                            >*:not(router-outlet):not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
                                display: flex;
                                flex: 1;
                                width: 100%;
                                min-width: 100%;
                            }
                            >*.ng-animating {
                                .mat-tab-body {
                                    height: 100vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[webinar-layout-mode="boxed"] {
        max-width: 1200px;
        margin: 0 auto;
        @include mat-elevation(8);
    }
}

.snackbar-success {
    /deep/simple-snack-bar {
        color: #6ee473;
    }
}

.snackbar-error {
    /deep/simple-snack-bar {
        color: #ff5757;
    }
}