@import 'src/@prohosp/scss/webinar';
$widthHexagon:45px;
$heightHexagon:52px;
:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    &.below {
        z-index: 2;
    }
    .mat-toolbar {
        background: inherit;
        color: inherit;
        position: relative;
        .loading-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        .logo-icon {
            height: 28px;
        }
    }
    .user-button,
    webinar-search-bar,
    .language-button,
    .apps-menu-toggle-button,
    .notification-menu-toggle-button,
    .notifications-toggle-button {
        min-width: 64px;
        height: 64px;
        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
    .toggle-button-navbar {
        min-width: 56px;
        height: 56px;
    }
    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);
        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
    .webinar-menu {
        height: 64px;
        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
    /deep/.mat-button-focus-overlay {
        background-color: rgba(0, 0, 0, 0.04) !important;
    }
    #hexagon {
        overflow: hidden;
        width: auto;
        margin: 0 auto;
        >div {
            position: relative;
            list-style-type: none;
            width: $widthHexagon;
            /* = (100-2.5) / 3.5 */
            padding-bottom: $heightHexagon;
            /* =  width /0.866 */
            overflow: hidden;
            visibility: hidden;
            -webkit-transform: rotate(-60deg) skewY(30deg);
            -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
            * {
                position: absolute;
                visibility: visible;
            }
            >div {
                width: 100%;
                height: 100%;
                text-align: center;
                overflow: hidden;
                -webkit-transform: skewY(-30deg) rotate(60deg);
                -ms-transform: skewY(-30deg) rotate(60deg);
                transform: skewY(-30deg) rotate(60deg);
                -webkit-backface-visibility: hidden;
            }
            img {
                left: -100%;
                right: -100%;
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
            span {
                position: absolute;
                left: 0px;
                padding: 7px 0;
                color: #fff;
                background: #d041cf;
                background: -moz-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                background: -webkit-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                background: linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                font-weight: 500;
                width: 45px;
            }
        }
    }
    .clr:after {
        content: "";
        display: block;
        clear: both;
    }
}