<mat-toolbar class="p-0" style="border-bottom: 1px solid #E0E0E0 !important">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="toggle-button-navbar mat-icon-button" *ngIf="!noNav" (click)="toggleSidebarOpened('navbar')" fxShow fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo ml-16">
                    <a routerLink="/orders/list"><img class="logo-icon" src="assets/images/logos/logomarca.gif"></a>
                </div>
            </div>

            <div class="px-8 px-mat-16">

            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-raised-button mat-button-raised class="webinar-menu" routerLink="/orders/list">
                <mat-icon class="nav-link-icon">home</mat-icon>
                <span class="nav-link-title">Lista de pedidos</span>
            </button>
            <button mat-raised-button mat-button-raised class="webinar-menu" routerLink="/orders/create">
                <mat-icon class="nav-link-icon">add</mat-icon>
                <span class="nav-link-title">Fazer Pedido</span>
            </button>
            <!-- <button mat-button mat-button-raised fxHide fxShow.gt-md class="webinar-menu" (click)="createProhosp();">
                <mat-icon class="nav-link-icon">add</mat-icon>
                <span class="nav-link-title">Criar Prohosp</span>
            </button> -->

            <!-- <webinar-search-bar (onInput)="search($event)"></webinar-search-bar> -->

            <!-- <button mat-button fxHide fxShow.gt-xs class="mat-icon-button language-button" [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                </div>
            </button>
            
            <mat-menu class="custom-language-menu" #languageMenu="matMenu" [overlapTrigger]="false">
                
                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag" [src]="'assets/images/flags/'+lang.flag+'.png'">
                    </div>
                </button>
                
            </mat-menu>
            
            <button mat-icon-button class="mat-icon-button apps-menu-toggle-button" [matMenuTriggerFor]="appsMenu">
                <mat-icon class="icon">apps</mat-icon>
            </button>
            
            <mat-menu #appsMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>leadlovers</span>
                </button>
                
                <button mat-menu-item class="">
                    <mat-icon>fingerprint</mat-icon>
                    <span>Addzy</span>
                </button>
                
            </mat-menu>
            
            <button mat-icon-button class="mat-icon-button notifications-toggle-button" webinarMatSidenavToggler="notifications" aria-label="Toggle quick panel">
                <mat-icon class="icon">notifications_none</mat-icon>
            </button> -->
            <!-- <a href="#" target="_blank" mat-icon-button class="mat-icon-button apps-menu-toggle-button">
                <button mat-icon-button class="mat-icon-button apps-menu-toggle-button" href="http://suporte.99webinar.com/" target="_blank">
                    <mat-icon class="icon">help</mat-icon>
                </button>
            </a> -->

            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayoutAlign="center center">
                    <div id="hexagon" class="clr ">
                        <div>
                            <div>
                                <!-- <img *ngIf="avatarUrl" [src]="avatarUrl" alt=""/> -->
                                <span class="h1 nameAvatar" alt="">{{avatarInitials}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <!-- <button mat-menu-item routerLink="/account/profile">
                    <mat-icon>account_circle</mat-icon>
                    <span>Perfil</span>
                </button>

                <button mat-menu-item class="" routerLink="/account/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Configurações</span>
                </button>

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sair</span>
                </button> -->

                <!-- <button mat-menu-item class="" (click)="changeTheme()">
                    <mat-icon>face</mat-icon>
                    <span>Alterar Tema</span>
                </button> -->

            </mat-menu>
        </div>
    </div>
</mat-toolbar>