<div id="order" class="page-layout carded fullwidth" webinarPerfectScrollbar>
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    
    <!-- CENTER -->
    <div class="center">
        
        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
            
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                
                <button class="mr-16" mat-icon-button [routerLink]="'/orders/list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                
                <div fxLayout="column" fxLayoutAlign="start start" *webinarIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Criar preorder - C.A.
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            
        </div>
        <!-- / HEADER -->
        
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            
            <!-- CONTENT -->
            <div class="content">
                
                <mat-tab-group fxFill>
                    
                    <mat-tab label="Enviar resposta de pedido">
                        <div class="products tab-content p-24" webinarPerfectScrollbar>
                            <form [formGroup]="createOrder">
                                
                                <div class="customer">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>CNPJ do distribuidor</th>
                                                <th>CNPJ do Cliente</th>
                                                <th>Código Interno do PDV</th>
                                                <!-- <th>Condição comercial</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <mat-form-field>
                                                        <mat-select placeholder="CNPJ do distribuidor" formControlName="wholesaler">
                                                            <mat-option value="04355394000232">
                                                                Prohosp Matriz (04.355.394/0002-32)
                                                            </mat-option>
                                                            <mat-option value="04355394000151">
                                                                Prohosp Paraná (04.355.394/0001-51)
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Código da Indústria na Fidelize" formControlName="client_identification">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Código Interno do PDV" formControlName="client_code">
                                                    </mat-form-field>
                                                </td>
                                                <!-- <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Condição comercial" formControlName="commercial_condition">
                                                    </mat-form-field>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Código EAN do produto</th>
                                                <th>Quantidade pedida</th>
                                                <th>Desconto do Produto</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="products" *ngFor="let item of products.controls; let i = index;">
                                            <tr [formGroupName]="i">
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Código EAN do produto" formControlName="ean" required>
                                                    </mat-form-field>
                                                    <!-- <mat-select placeholder="Produto" formControlName="ean">
                                                        <mat-option>
                                                            Selecione um produto
                                                        </mat-option>
                                                        <mat-option *ngFor="let produto of produtos" [value]="produto.ean">
                                                            {{produto.label}}
                                                        </mat-option>
                                                    </mat-select> -->
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Quantidade pedida" type="number" formControlName="ordered_quantity">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Desconto do Produto" type="number" formControlName="wholesaler_discount">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <button mat-raised-button class="mat-accent" (click)="addItem()">+</button>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    
                                </div>
                                
                                
                                
                                <button mat-raised-button class="mat-accent" (click)="createPreOrder()" [disabled]="inCreate">Criar</button>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                
            </div>
            <!-- / CONTENT -->
            
        </div>
        <!-- / CONTENT CARD -->
        
    </div>
    <!-- / CENTER -->
</div>