<div id="order" class="page-layout carded fullwidth" webinarPerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-16" mat-icon-button [routerLink]="'/orders/list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" *webinarIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Criar preorder - C.A.
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxFill>

                    <mat-tab label="Enviar resposta de pedido">
                        <div class="products tab-content p-24" webinarPerfectScrollbar>

                            <div class="customer">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>CNPJ do distribuidor</th>
                                            <th>CNPJ do Cliente</th>
                                            <th>Código Interno do PDV</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let order of importedOrders; let i = index;">
                                        <tr>
                                            <td>
                                                {{order.id}}
                                            </td>
                                            <td>
                                                {{order.wholesaler}}
                                            </td>
                                            <td>
                                                {{order.client_identification}}
                                            </td>
                                            <td>
                                                {{order.status}}
                                            </td>
                                            <td>
                                                <button mat-raised-button class="mat-accent" *ngIf="order.status === 'AWAITING_ORDER_RESPONSE' && order.status !== 'AWAITING_PROCESSING' && order.status !== 'CANCELLED' && order.status !== 'INVOICE_RECEIVED'" [routerLink]="'/orders/response/' + order.id">Gerar resposta</button>
                                                <button mat-raised-button class="mat-accent" *ngIf="order.status !== 'AWAITING_ORDER_RESPONSE' && order.status !== 'AWAITING_PROCESSING' && order.status !== 'CANCELLED' && order.status !== 'INVOICE_RECEIVED' " [routerLink]="'/orders/invoice/' + order.id">Enviar nota</button>
                                                <button mat-raised-button class="mat-warn" *ngIf="order.status !== 'AWAITING_PROCESSING' && order.status !== 'AWAITING_PROCESSING' && order.status !== 'AWAITING_ORDER_RESPONSE' && order.status !== 'CANCELLED' && order.status !== 'INVOICE_RECEIVED'" (click)="cancellationOrder(order)">Cancelar pedido</button>
                                                <!-- <button mat-raised-button class="mat-primary" *ngIf="order.status === 'AWAITING_PROCESSING' && order.status !== 'PROCESSED'">Aguardando processamento</button> -->
                                                <button mat-raised-button class="mat-warn" *ngIf="order.status === 'CANCELLED' && order.status !== 'PROCESSED'">Pedido cancelado</button>
                                                <button mat-raised-button   *ngIf="order.status === 'INVOICE_RECEIVED'">Nota fiscal enviada</button>
                                                <!-- <button mat-raised-button class="mat-warn"  *ngIf="order.status === 'PROCESSED'">Pedido negado</button> -->
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>