@import "src/@prohosp/scss/webinar";
:host {
    .webinar-search-bar {
        min-width: 64px;
        height: 64px;
        font-size: 13px;
        @include media-breakpoint-down('sm') {
            height: 56px;
        }
        .webinar-search-bar-expander,
        .webinar-search-bar-collapser {
            cursor: pointer;
            padding: 0 20px;
            margin: 0;
            width: 64px !important;
            height: 64px !important;
            line-height: 64px !important;
            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }
        .webinar-search-bar-loader {
            width: 64px !important;
            height: 64px !important;
            line-height: 64px !important;
            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }
        .webinar-search-bar-collapser {
            display: none;
        }
        #webinar-search-bar-input {
            display: none;
            min-height: 64px;
            background-color: transparent;
            font-size: 16px;
        }
        &.expanded {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            #webinar-search-bar-input {
                display: block;
            }
            .webinar-search-bar-collapser {
                display: block;
            }
        }
    }
    body {
        &.webinar-search-bar-expanded {
            #toolbar {
                z-index: 999 !important;
            }
        }
    }
}