<ng-container *ngIf="!item.hidden">

    <div class="group-title">
        <span class="hint-text" [translate]="item.translate">{{ item.title }}</span>
    </div>

    <div class="group-items">
        <ng-container *ngFor="let item of item.children">
            <webinar-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></webinar-nav-vertical-group>
            <webinar-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></webinar-nav-vertical-collapse>
            <webinar-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></webinar-nav-vertical-item>
        </ng-container>
    </div>

</ng-container>