<div mat-dialog-content class="mat-title" [innerHtml]="confirmMessage"></div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close(true)">Sim</button>
    <button mat-button class="mr-16" (click)="dialogRef.close(false)">Não</button>
</div>