.thumb-img,
.card-title {
    cursor: pointer;
}

.first-webinar {
    background: url('/assets/images/webinar/99webinar-white-dashboard.svg') center no-repeat;
    background-size: 200px;
    background-position-y: 25vh;
}

.create-new-webinar {
    margin: 5% auto auto;
    max-width: 440px;
    text-align: center;
    img {
        max-width: 210px;
    }
}