<div class="page-layout carded fullwidth" webinarPerfectScrollbar>
    <div class="center p-0">
        <div class="header mat-primary-100-bg p-24 h-80 mat-elevation-z1" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div class="h2">Orders</div>
            </div>
        </div>
        <div class="content-card">
            
            <!-- CONTENT -->
            <div class="content p-24" webinarPerfectScrollbar fxLayout="row wrap" fxLayoutAlign="start start">
                
                
                <div class="mat-title">Ordens de compras não importadas</div>
                <mat-table #table [dataSource]="notImportedOrders | reverse" fxFlex="100">
                    <!-- Checkbox Column -->
                    <!-- <ng-container cdkColumnDef="checkbox">
                        <mat-header-cell  *cdkHeaderCellDef></mat-header-cell>
                        <mat-cell *cdkCellDef="let orders">
                            <mat-checkbox [(ngModel)]="checkboxes[orders.id]" (ngModelChange)="onSelectedChange(orders.id)"
                            (click)="$event.stopPropagation()">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->
                <!-- Email Column -->
                <ng-container cdkColumnDef="order_code">
                    <mat-header-cell  *cdkHeaderCellDef >Código de compra</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" >
                        <p class="order_code text-truncate">
                            {{order.order_code}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <ng-container cdkColumnDef="customer_code">
                    <mat-header-cell  *cdkHeaderCellDef >Cliente</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" >
                        <p class="customer_code text-truncate">
                            {{order.customer_code}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <ng-container cdkColumnDef="distribution_center_code">
                    <mat-header-cell  *cdkHeaderCellDef >Distribuidor</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" >
                        <p class="distribution_center_code text-truncate">
                            {{order.distribution_center_code}}
                        </p>
                    </mat-cell>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container cdkColumnDef="status">
                    <mat-header-cell  *cdkHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let order">
                        <p class="text-truncate font-weight-600">{{order.status}}</p>
                    </mat-cell>
                </ng-container>
                
                
                <!-- Buttons Column -->
                <ng-container cdkColumnDef="buttons">
                    <mat-header-cell  *cdkHeaderCellDef>
                        Ações disponíveis
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let order">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="importOrder(order)" aria-label="Toggle star">
                                <mat-icon *ngIf="order.status === 'ORDER_NOT_IMPORTED'">star_outline</mat-icon>
                            </button>
                        </div>
                        
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let orders; columns: displayedColumns;"
                class="orders"
                
                [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>   
        
        <div class="mt-36 mat-title">Ordens de compras importadas</div>
        <mat-table #table [dataSource]="importedOrders | reverse" fxFlex="100">
        <!-- Checkbox Column -->
        <!-- <ng-container cdkColumnDef="checkbox">
            <mat-header-cell  *cdkHeaderCellDef></mat-header-cell>
            <mat-cell *cdkCellDef="let orders">
                <mat-checkbox [(ngModel)]="checkboxes[orders.id]" (ngModelChange)="onSelectedChange(orders.id)"
                (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->
    <!-- Email Column -->
    <ng-container cdkColumnDef="order_code">
        <mat-header-cell  *cdkHeaderCellDef >Código de compra</mat-header-cell>
        <mat-cell *cdkCellDef="let order" >
            <p class="order_code text-truncate">
                {{order.order_code}}
            </p>
        </mat-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="customer_code">
        <mat-header-cell  *cdkHeaderCellDef >Cliente</mat-header-cell>
        <mat-cell *cdkCellDef="let order" >
            <p class="customer_code text-truncate">
                {{order.customer_code}}
            </p>
        </mat-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="distribution_center_code">
        <mat-header-cell  *cdkHeaderCellDef >Distribuidor</mat-header-cell>
        <mat-cell *cdkCellDef="let order" >
            <p class="distribution_center_code text-truncate">
                {{order.distribution_center_code}}
            </p>
        </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container cdkColumnDef="status">
        <mat-header-cell  *cdkHeaderCellDef>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let order">
            <p class="text-truncate font-weight-600">{{order.status}}</p>
        </mat-cell>
    </ng-container>
    
    
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <mat-header-cell  *cdkHeaderCellDef>
            Ações disponíveis
        </mat-header-cell>
        <mat-cell *cdkCellDef="let order">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [routerLink]="'/orders/edit/' + order.order_code" aria-label="Toggle star">
                    <mat-icon *ngIf="!(order.status === 'CANCELLED')">label</mat-icon>
                </button>
            </div>
            
        </mat-cell>
    </ng-container>
    
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let orders; columns: displayedColumns;"
    class="orders"
    
    [@animate]="{value:'*',params:{y:'100%'}}">
</mat-row>
</mat-table>   

<button mat-fab class="rotateIcon fixed-rb">
    <mat-icon>
        add
    </mat-icon>
</button>
</div>
<!-- / CONTENT -->
</div>
</div>
</div>