@import "src/@prohosp/scss/webinar";
$widthHexagon:90px;
$heightHexagon:104px;
.profile-cards {
    max-width: 800px !important;
    .webinar-card {
        max-width: 800px !important;
        .header {
            background: #d041cf;
            background: -moz-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
            background: -webkit-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
            background: linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
        }
        .profile-image {
            position: absolute;
            top: 70px;
            //border: 2px solid #fff;
        }
    }
    #hexagon {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        >div {
            position: relative;
            list-style-type: none;
            width: $widthHexagon;
            /* = (100-2.5) / 3.5 */
            padding-bottom: $heightHexagon;
            /* =  width /0.866 */
            overflow: hidden;
            visibility: hidden;
            -webkit-transform: rotate(-60deg) skewY(30deg);
            -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
            * {
                position: absolute;
                visibility: visible;
            }
            >div {
                width: 100%;
                height: 100%;
                text-align: center;
                overflow: hidden;
                -webkit-transform: skewY(-30deg) rotate(60deg);
                -ms-transform: skewY(-30deg) rotate(60deg);
                transform: skewY(-30deg) rotate(60deg);
                -webkit-backface-visibility: hidden;
            }
            img {
                left: -100%;
                right: -100%;
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
            span {
                position: absolute;
                left: 0px;
                padding: 23px 21px;
                color: #fff;
                font-size: 45px;
                background: #d041cf;
                background: -moz-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                background: -webkit-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                background: linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
                font-weight: 500;
            }
        }
    }
    .clr:after {
        content: "";
        display: block;
        clear: both;
    }
}