<div id="order" class="page-layout carded fullwidth" webinarPerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-16" mat-icon-button [routerLink]="'/orders/list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" *webinarIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Responder preorder - C.A.
                    </div>
                    <div class="subtitle secondary-text">
                        <span>de</span>
                        <span>{{order?.id}}</span>
                        <span>-</span>
                        <span>{{order?.status}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxFill>

                    <mat-tab label="Enviar resposta de pedido">
                        <div class="products tab-content p-24" webinarPerfectScrollbar>
                            <mat-slide-toggle [(ngModel)]="advancedInvoice">
                                Ativar campos não obrigatórios {{advancedInvoice}}
                            </mat-slide-toggle>
                            <form [formGroup]="invoiceForm">
                                <div class="customer">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>CNPJ do distribuidor</th>
                                                <th>CNPJ do Cliente</th>
                                                <th>Código Interno do PDV</th>
                                                <th>Condição comercial</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{order?.wholesaler}}
                                                </td>
                                                <td>
                                                    {{order?.client_identification}}
                                                </td>
                                                <td>
                                                    {{order?.client_code}}
                                                </td>
                                                <td>
                                                    {{order?.commercial_confition}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Data de emissão da nota</th>
                                                <th>Data e hora do processamento da nota</th>
                                                <th>id</th>
                                                <th>Número da nota</th>
                                                <th *ngIf="advancedInvoice">Base Cálculo ICMS Substituição Tributária</th>
                                                <th *ngIf="advancedInvoice">Base Cálculo ICMS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Data de emissão da nota" type="text" formControlName="invoice_issue_date">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Data e hora do processamento da nota" type="text" formControlName="date_time_processing">
                                                    </mat-form-field>
                                                </td>
                                                <td class="w-64 mr-12">
                                                    <mat-form-field class="w-36 mr-12">
                                                        <input matInput placeholder="id" formControlName="id" type="number">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Número da nota" formControlName="invoice_number" type="number">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="advancedInvoice">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Base Cálculo ICMS Substituição Tributária" type="number" formControlName="base_calculation_icms_tax_substitution">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="advancedInvoice">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Base Cálculo ICMS" type="number" formControlName="base_calculation_icms">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Chave Danfe</th>
                                                <th>Valor da nota</th>
                                                <th>Valor desconto da nota</th>
                                                <th *ngIf="advancedInvoice">Valor de repasse ICMS</th>
                                                <th>Valor total produtos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Chave Danfe" type="text" formControlName="danfe">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor da nota" type="number" formControlName="invoice_value">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor desconto da nota" type="number" formControlName="invoice_discount_value">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="advancedInvoice">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor de repasse ICMS" type="number" formControlName="icms_value_transferred">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor total produtos" type="number" formControlName="products_total_value">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div formArrayName="invoice_products" *ngFor="let item of invoice_products.controls; let i = index;">
                                        <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                            <mat-icon class="m-0 mr-16">access_time</mat-icon>
                                            <div class="h2 secondary-text">Produtos - {{ i }}
                                            </div>
                                        </div>
                                        <table class="simple" [formGroupName]="i">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Código EAN do produto" formControlName="ean">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Quantidade atendida" type="number" formControlName="invoice_quantity">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Percentual de desconto" type="number" formControlName="percent_discount">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor unitário do desconto" type="number" formControlName="unit_discount_price">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor liquído unitário" type="number" formControlName="unit_net_price">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Base Cálculo ICMS" type="number" formControlName="base_calculation_icms">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Base Cálculo ICMS Substituição Tributária" type="number" formControlName="base_calculation_icms_tax_substitution">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Percentual de ICMS (Alíquota)" type="number" formControlName="percent_icms_aliquot">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Percentual de IPI (Alíquota)" type="number" formControlName="percent_ipi_aliquot">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor do ICMS" type="number" formControlName="icms_value">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor da ST" type="number" formControlName="st_value">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor do ICMS Repassado" type="number" formControlName="icms_transferred_value">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="CFOP" type="number" formControlName="cfop">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Flag de Substituição Tributária (S=Substituição / N=Normal / I=Isento)" type="number" formControlName="tax_substitution_flag">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Identificador da lista positiva (P=Positiva / N=Negativa / O=Neutro)" type="number" formControlName="positive_list_identifier">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Prazo do produto" type="number" formControlName="product_deadline">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Classificação do Produto" type="number" formControlName="product_classification">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="DCB" type="number" formControlName="dcb">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor do Repasse" type="number" formControlName="transfer_value">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor total do produto" type="number" formControlName="product_total_value">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor total do produto + Encargos" type="number" formControlName="product_total_value_charges">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Código da situação tributária" type="number" formControlName="tax_status_code">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Percentual do desconto financeiro" type="number" formControlName="percent_financial_discount">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Valor unitário do desconto financeiro" type="number" formControlName="percent_unit_financial_discount">
                                                        </mat-form-field>
                                                    </td>
                                                    <td *ngIf="advancedInvoice">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Tipo de produto (M=Monitorado / L=Liberado)" type="number" formControlName="type">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="separator"></div>


                                    </div>
                                    <table class="simple" *ngIf="advancedInvoice">
                                        <thead>
                                            <tr>
                                                <th>Valor total do ICMS retido</th>
                                                <th>Valor total ICMS</th>
                                                <th>Quantidade de volume</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor total do ICMS retido" type="text" formControlName="icms_total_value_withheld">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor total ICMS" type="number" formControlName="icms_total_value">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Quantidade de volume" type="number" formControlName="volume_quantity">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <button mat-raised-button class="mat-accent" (click)="sentInvoice()">Enviar nota fiscal</button>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>