// Variables
@import "variables/theme";
// Mixins
@import "mixins/breakpoints";
// Global 99 webinar css
.mat-fab {
    background: #d041cf;
    background: -moz-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
    background: -webkit-linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
    background: linear-gradient(45deg, #d041cf 0%, #ff7706 100%);
    &.fixed-rb {
        right: 15px;
        bottom: 15px;
        position: fixed;
    }
}

.rotateIcon {
    .mat-icon {
        transform: rotate(0deg);
        transition: all 0.3s ease;
        color: #fff;
    }
    &:hover {
        .mat-icon {
            transform: rotate(180deg);
        }
    }
}

::ng-deep .mat-radio-label-content {
    word-wrap: break-word;
    white-space: normal;
}

.icon21 {
    font-size: 21px;
    height: 21px;
    width: 21px;
}

.color-45 {
    color: rgba(0, 0, 0, 0.45);
}

.err-dark {
    color: #bf331a;
}

.w-100m50 {
    width: calc(100% - 50px) !important;
}

.w-100m42 {
    width: calc(100% - 42px) !important;
}

.w-100m38 {
    width: calc(100% - 38px) !important;
}

.w-100m32 {
    width: calc(100% - 32px) !important;
}

.w-100m20-wrap {
    width: calc(100% - 20px) !important;
    word-wrap: break-word;
}

.w-100-wrap {
    width: 100% !important;
    word-wrap: break-word !important;
}

.mh-100-p {
    min-height: 100%;
}

// Text [...]
.text-with-more {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}