<ng-container *ngIf="layout == 'vertical'">

    <div class="navbar-vertical">

        <div class="navbar-header">

            <div class="logo">
                <img class="logo-icon" src="assets/images/logos/logomarca.gif">
            </div>

            <!-- <button mat-button class="toggle-button-navbar mat-icon-button" (click)="toggleSidebarFolded('navbar')" fxHide.lt-lg>
                <mat-icon>menu</mat-icon>
            </button> -->

            <button mat-button class="toggle-button-navbar mat-icon-button" (click)="toggleSidebarOpened('navbar')">
                <mat-icon>arrow_back</mat-icon>
            </button>

        </div>

        <div class="navbar-content" webinarPerfectScrollbar>
            <webinar-navigation [navigation]="navigation" layout="vertical"></webinar-navigation>
        </div>

    </div>

</ng-container>