<div id="main-navigation" class="nav" [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">

        <ng-container *ngFor="let item of navigation">

            <webinar-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></webinar-nav-vertical-group>
            <webinar-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></webinar-nav-vertical-collapse>
            <webinar-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></webinar-nav-vertical-item>

        </ng-container>

    </ng-container>
    <!-- / Vertical Navigation Layout -->

    <!-- Horizontal Navigation Layout -->
    <ng-container *ngIf="layout === 'horizontal'">

        <ng-container *ngFor="let item of navigation">

            <webinar-nav-horizontal-collapse *ngIf="item.type=='group'" [item]="item"></webinar-nav-horizontal-collapse>
            <webinar-nav-horizontal-collapse *ngIf="item.type=='collapse'" [item]="item"></webinar-nav-horizontal-collapse>
            <webinar-nav-horizontal-item *ngIf="item.type=='item'" [item]="item"></webinar-nav-horizontal-item>

        </ng-container>

    </ng-container>
    <!-- / Horizontal Navigation Layout -->

</div>