<div id="order" class="page-layout carded fullwidth" webinarPerfectScrollbar>
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    
    <!-- CENTER -->
    <div class="center">
        
        <!-- HEADER -->
        <div class="header white-fg"
        fxLayout="row" fxLayoutAlign="space-between center">
        
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            
            <button class="mr-16" mat-icon-button [routerLink]="'/orders/list'">
                <mat-icon>arrow_back</mat-icon>
            </button>
            
            <div fxLayout="column" fxLayoutAlign="start start"
            *webinarIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            <div class="h2">
                Pedido {{order.order_code}}
            </div>
            <div class="subtitle secondary-text">
                <span>de</span>
                <span>{{order.customer_code}}</span>
            </div>
        </div>
    </div>
    <!-- / APP TITLE -->
    
</div>
<!-- / HEADER -->

<!-- CONTENT CARD -->
<div class="content-card mat-white-bg">
    
    <!-- CONTENT -->
    <div class="content">
        
        <mat-tab-group fxFill>
            
            <mat-tab label="Order Details">
                
                <div class="order-details tab-content p-24" webinarPerfectScrollbar>
                    
                    <div class="section pb-48">
                        
                        <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="m-0 mr-16">account_circle</mat-icon>
                            <div class="h2 secondary-text">Cliente</div>
                        </div>
                        
                        <div class="customer">
                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>CNPJ Distribuidor</th>
                                        <th>CNPJ Cliente</th>
                                        <th>id</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <img class="avatar" src="assets/images/avatars/Abbott.jpg">
                                                <span class="name text-truncate"> {{order.wholesaler_branch_code}} </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="email text-truncate">{{order.customer_code}}</span>
                                        </td>
                                        <td>
                                            <span class="phone text-truncate"> {{order.id}} </span>
                                        </td>
                                        <td>
                                            <span class="company text-truncate">{{order.status}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                    <div class="section pb-48">
                        
                        <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="m-0 mr-16">access_time</mat-icon>
                            <div class="h2 secondary-text">Status do pedido 
                                <span *ngIf="order.responses.length === 0">(Não há nenhum dado)</span>
                                <button mat-raised-button class="mat-accent" (click)="loadResponse(order)">Enviar resposta</button>
                            </div>
                        </div>
                        
                        <table class="simple" *ngIf="order.responses.length !== 0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>IMPORTED AT</th>
                                    <th>OUTCOME</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let responses of order.responses">
                                    <td>
                                        <span class="text-truncate">
                                            {{responses.id}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-truncate">
                                            {{responses.imported_at}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-truncate">
                                            {{responses.outcome}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <!-- <form class="update-status p-24"
                            (ngSubmit)="updateStatus()"
                            [formGroup]="statusForm"
                            fxLayout="row" fxLayoutAlign="start center">
                            
                            <mat-form-field class="mr-16" fxFlex>
                                <mat-select formControlName="newStatus"
                                placeholder="Selecione um status" required>
                                <mat-option *ngFor="let status of orderStatuses"
                                [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <button mat-raised-button class="mat-accent"
                    [disabled]="statusForm.invalid">
                    Update Status
                </button>
            </form> -->
            
        </div>
        
        <div class="section pb-48">
            
            <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="m-0 mr-16">attach_money</mat-icon>
                <div class="h2 secondary-text">Invoices  
                    <span *ngIf="order.invoices.length === 0">(Não há nenhum dado)</span>
                    <button mat-raised-button class="mat-accent">Enviar nota fiscal</button>
                </div>
            </div>
            
            <table class="simple" *ngIf="order.invoices.length !== 0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IMPORTED AT</th>
                        <th>OUTCOME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoices of order.invoices">
                        <td>
                            <span class="text-truncate">
                                {{invoices.id}}
                            </span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                {{invoices.imported_at}}
                            </span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                {{invoices.outcome}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        <div class="section pb-48">
            
            <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="m-0 mr-16">local_shipping</mat-icon>
                <div class="h2 secondary-text">Cancellations  
                    <span *ngIf="order.cancellations.length === 0">(Não há nenhum dado)</span>
                    <button mat-raised-button class="mat-accent">Enviar cancelamento</button>
                </div>
            </div>
            
            <table class="simple" *ngIf="order.cancellations.length !== 0">
                <thead>
                    <tr>
                        <th>Tracking Code</th>
                        <th>Carrier</th>
                        <th>Weight</th>
                        <th>Fee</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cancellations of order.cancellations">
                        <td>
                            <span class="text-truncate">
                                {{cancellations.id}}
                            </span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                {{cancellations.imported_at}}
                            </span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                {{cancellations.outcome}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</mat-tab>

<mat-tab label="Produtos">
    <div class="products tab-content p-24" webinarPerfectScrollbar>
        <table class="simple">
            <thead>
                <tr>
                    <th>EAN</th>
                    <th>Payment Term</th>
                    <th>Discount Percentage</th>
                    <th>Net Value</th>
                    <th>Amount</th>
                    <th>Monitored</th>
                </tr>
            </thead>
            <tbody>
                <tr class="product-row"
                *ngFor="let product of order.products"
                [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle">
                <td>
                    {{product.ean}}
                </td>
                <td>
                    {{product.payment_term}}
                </td>
                <td>
                    {{product.discount_percentage}}
                </td>
                <td>
                    {{product.net_value}}
                </td>
                <td>
                    {{product.amount}}
                </td>
                
                <td>
                    {{product.monitored}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</mat-tab>

<mat-tab label="Enviar resposta de pedido" *ngIf="createResponse">
    <div class="products tab-content p-24" webinarPerfectScrollbar>
        <form [formGroup]="editOrder">
            
            <div class="customer">
                <table class="simple">
                    <thead>
                        <tr>
                            <th>Código da Indústria na Fidelize</th>
                            <th>Código do pedido na Indústria</th>
                            <th>CNPJ do distribuidor</th>
                            <th>Código de pedido no distribuidor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Código da Indústria na Fidelize" formControlName="industry_code">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Código do pedido na Indústria"   formControlName="order_code">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CNPJ do distribuidor"   formControlName="wholesaler_code">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Código de pedido no distribuidor"   formControlName="wholesaler_order_code">
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="simple">
                    <thead>
                        <tr>
                            <th>Prazo</th>
                            <th>Considerações</th>
                            <th>Pedido Bonificado</th>
                            <th>Data/Hora de processamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prazo"  formControlName="payment_term">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Considerações"   formControlName="consideration">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Pedido Bonificado"   formControlName="is_free_good_discount">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Data/Hora de processamento"   formControlName="processed_at">
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="simple">
                        <thead>
                            <tr>
                                <th>Data/Hora do faturamento</th>
                                <th>Data/Hora da Previsão de entrega</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Data/Hora do faturamento"  placeholder="invoice_at" formControlName="invoice_at">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Data/Hora da Previsão de entrega "  placeholder="delivery_forecast_at" formControlName="delivery_forecast_at">
                                    </mat-form-field>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="simple">
                            <thead>
                                <tr>
                                    <th>Código EAN do produto</th>
                                    <th>Quantidade pedida</th>
                                    <th>Desconto do Produto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr formArrayName="products" *ngFor="let item of products.controls; let i = index;">
                                    <td>
                                            <mat-form-field>
                                                    <input matInput placeholder="Código EAN do produto" formControlName="ean" required>
                                                </mat-form-field>
                                    </td>
                                    <td>
                                            <mat-form-field>
                                                    <input matInput placeholder="Quantidade pedida" formControlName="ordered_quantity">
                                                </mat-form-field>
                                    </td>
                                    <td>
                                            <mat-form-field>
                                                    <input matInput placeholder="Desconto do Produto" formControlName="wholesaler_discount">
                                                </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

   
            </div>
            
            
            
            
        </form>
    </div>
</mat-tab>
</mat-tab-group>

</div>
<!-- / CONTENT -->

</div>
<!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->
</div>
