<div id="order" class="page-layout carded fullwidth" webinarPerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-16" mat-icon-button [routerLink]="'/orders/list'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" *webinarIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Responder preorder - C.A.
                    </div>
                    <div class="subtitle secondary-text">
                        <span>de</span>
                        <span>{{order?.id}}</span>
                        <span>-</span>
                        <span>{{order?.status}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxFill>

                    <mat-tab label="Enviar resposta de pedido">
                        <div class="products tab-content p-24" webinarPerfectScrollbar>
                            <form [formGroup]="responseOrder">
                                <div class="customer">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>CNPJ do distribuidor</th>
                                                <th>CNPJ do Cliente</th>
                                                <th>Código Interno do PDV</th>
                                                <th>Condição comercial</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{order?.wholesaler}}
                                                </td>
                                                <td>
                                                    {{order?.client_identification}}
                                                </td>
                                                <td>
                                                    {{order?.client_code}}
                                                </td>
                                                <td>
                                                    {{order?.commercial_confition}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Código EAN do produto</th>
                                                <th>Quantidade pedida</th>
                                                <th>Desconto do Produto</th>
                                                <th>order_discount</th>
                                                <th>Valor unitário do desconto</th>
                                                <th>Valor liquído unitário</th>
                                                <th>Código do pedido na indústria</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="products" *ngFor="let item of products.controls; let i = index;">
                                            <tr [formGroupName]="i">

                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Código EAN do produto" formControlName="ean" required>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Quantidade pedida" type="number" formControlName="ordered_quantity">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Desconto do Produto" type="number" formControlName="wholesaler_discount">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="order_discount" type="number" formControlName="order_discount">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor unitário do desconto" type="number" formControlName="unit_discount_price">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor liquído unitário" type="number" formControlName="unit_net_price">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Código do pedido na indústria" type="number" formControlName="industry_order_code">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    {{order?.product_reason}}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Valor total</th>
                                                <th>Valor do desconto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td> &nbsp;
                                                </td>
                                                <td>&nbsp;
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor total" type="number" formControlName="total_value">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput placeholder="Valor do desconto" type="number" formControlName="discount_value">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>



                                </div>
                                <button mat-raised-button class="mat-accent" (click)="createResponse()">Enviar</button>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>